# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Virtual envs
env/
venv/
ENV/
.venv/

# Flask instance folder (if used)
instance/

# Environment variables
.env
*.env

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Socket.IO cache (if applicable)
*.sock
